

.container h1{
  text-align: center;
  /* margin: auto; */

}


.App {
  display: flex;
  justify-content: space-between;
  
  
}


.left-panel {
  width: 30%;
  overflow-y: scroll;
  height: 180vh;
  
}

.right-panel {
  width: 65%;
  text-align: center;
  background-color: #f9f9f9;
  /* height: auto; */
  /* border: 1px solid red; */
  
}




.customer-list {
  border: 1px solid #ccc;
  /* padding: 10px; */
 
}

.customer-card {
  cursor: pointer;
  padding: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  /* border-radius: 5px; */
}

.customer-card.selected {
  background-color: #eeeeee;
}


.customer-card p {
  color: gray;
}


.customer-details {
  padding: 20px;
  position: sticky;
}

.customer-details p {
  color: gray;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  
/* margin-left: 120px; */
  /* border: 1px solid green; */
  width: 80%;
  margin: auto;

  
  
}

.photo-grid img {
  width: 80%;
  height: 80%;
  /* border:  1px solid red; */
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
